:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

p {
	display: block;
	margin-block-start: 1em;
	margin-block-end: 1em;
	margin-inline-start: 0px;
	margin-inline-end: 0px;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

.v-field__append-inner {
	margin-top: 5px;
}

html {
	overflow-y: hidden;
	width: 100%;
	height: 100%;
}

body {
	height: 100%;
}

div#app {
	height: 100%;
}

div.v-application {
	height: 100% !important;
	position: static !important;
	display: block !important;
}

div.v-application__wrap {
	min-height: 100%;
	height: 100%;
	position: static !important;
	display: flex;
	flex-direction: column;
}

div.app-main-container {
	height: 100%;
}