.controls {
	margin-bottom: 16px;
}

.endpoint-field {
	margin-right: 10px;
	width: 15em;
}

.id-field {
	width: 20em;
}

.MuiFormHelperText-root:not(.Mui-focused) {
	display: none;
}

.request-button {
	margin-bottom: 16px;
}

.rest-api {
	height: 100%;
	display: flex;
	flex-direction: column;
}
