:root {
  --mdc-theme-primary: #ff3e00;
}

html {
	height: 100%;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
	height: 100%;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

div#app {
	height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

main {
	height: 100%;
}

.mdc-button {
	margin-right: 8px;
	margin-bottom: 16px;
}

.mdc-chip {
	background-color: white;
	border-width: 1px;
	border-color: rgb(189, 189, 189);
	border-style: solid;
}

.mdc-data-table {
	border: none;
	width: 100%;
}

.mdc-data-table__table {
	width: 100%;
}

.mdc-data-table__header-row {
	height: 2rem;
}

.mdc-data-table__header-cell {
	padding: 6px 16px;
	text-align: left;
}

.mdc-data-table__row {
	height: 2rem;
}

.mdc-data-table__cell {
	padding: 6px 16px;
}

.mdc-drawer-app-content {
	height: 100%;
	flex-grow: 1;
	padding: 24px;
}

.chart-container {
	flex-grow: 1;
}

.app-content {
	overflow: auto;
}

.mdc-top-app-bar__section--align-end {
	padding-right: 0;
}

.mdc-top-app-bar__section--align-end .mdc-line-ripple {
	display: none;
}

.framework-select {
	padding-right: 2em; 
	max-width: 11em; 
	height: 48px; 
	width: 112px;
	margin-top: -8px;
}

.framework-select svg {
	fill: white;
}

.framework-select .mdc-select__selected-text-container .mdc-select__selected-text {
	color: white;
}
