.App {
  text-align: left;
  height: 100%;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

html {
	height: 100%;
}

body {
	height: 100%;
}

#root {
	height: 100%;
}

.client-logo {
	margin-right: 32px;
}

.scrollable-view {
	height: 100%;
	overflow: auto;
}

img.framework-logo {
	height: 24px;
	width: 24px;
	padding-right: 32px;
}

.framework-select {
	width: 192px;
	margin-right: 24px;
	margin-top: -8px;
}

li.framework-select-item {
  padding: 6px 0 6px 16px;
}

.MuiOutlinedInput-notchedOutline {
	display: none;
}
